Notes to save

In [7]:
import pandas as pd

In [9]:
df1 = pd.DataFrame({'a':range(6),
                    'b':[5,3,6,9,2,4]}, index=list('abcdef'))

df2 = pd.DataFrame({'c':range(4),
                    'd':[10,20,30, 40]}, index=list('abhi'))

In [11]:
df1

   a  b
a  0  5
b  1  3
c  2  6
d  3  9
e  4  2
f  5  4

In [13]:
df2

   c   d
a  0  10
b  1  20
h  2  30
i  3  40

In [16]:
# Default inner join
df3 = pd.merge(df1, df2, left_index=True, right_index=True)
print (df3)

   a  b  c   d
a  0  5  0  10
b  1  3  1  20

In [19]:
# Default outer join
df5 = pd.concat([df1, df2], axis=1)
print (df5)

     a    b    c     d
a  0.0  5.0  0.0  10.0
b  1.0  3.0  1.0  20.0
c  2.0  6.0  NaN   NaN
d  3.0  9.0  NaN   NaN
e  4.0  2.0  NaN   NaN
f  5.0  4.0  NaN   NaN
h  NaN  NaN  2.0  30.0
i  NaN  NaN  3.0  40.0

In [ ]:
# applying merge, joined on Name
df_merged = df1.merge(df2[['Name', 'Grade', 'Rank']])
print(df_merged)

In [ ]:
# save df to csv, without index
df_merged.to_csv('merged.csv', index=False)

In [ ]:
# add a column with conditions
df['hasimage'] = np.where(df['photos']!= '[]', True, False)
df.head()

In [ ]:
# make a dataframe from column, keeping only trues
result_df= df.loc[df['result']==True]

In [ ]:
# histogram notes
# libraries
import numpy as np
import matplotlib.pyplot as plt
 
# create dataset
height = [3, 12, 5, 18, 45]
bars = ('A', 'B', 'C', 'D', 'E')
x_pos = np.arange(len(bars))
 
# Create bars and choose color
plt.bar(x_pos, height, color = (0.5,0.1,0.5,0.6))
 
# Add title and axis names
plt.title('My title')
plt.xlabel('categories')
plt.ylabel('values')
 
# Create names on the x axis
plt.xticks(x_pos, bars)
 
# Show graph
plt.show()

In [ ]:
def df_column_switch(df, column1, column2):
    i = list(df.columns)
    a, b = i.index(column1), i.index(column2)
    i[b], i[a] = i[a], i[b]
    df = df[i]
    return df